.CardImage{
    height: 9rem;
}


.card{
height: 34rem;
padding: 10px;
margin-top: 10px;
background-color: rgb(204, 203, 207);


}
.card:hover{
border-color: rgb(161, 124, 161);
box-shadow: 2px 4px 0;
}